<p><strong>Select</strong> your <strong>exist</strong> passenger order</p>

<div class="row" *ngIf='requestList != []'>
    <div *ngFor="let request of requestList" class="col" style="height: 18rem;">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{request.departure_location}} to {{request.destination_location}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{request.request_time}} created</h6>
            <!--text-truncate-->
            <p class="card-text">From {{request.departure_location}} to {{request.destination_location}} in {{request.departure_time}}, post by {{request.request_userid}}, and it still have {{request.available_seats}} seats available.</p>
            <a routerLink="/requestdetail/{{request.request_orderid}}" class="card-link">See Detail</a>
            <a (click)='requestClick(request)' class="card-link">Select</a>
          </div>
        </div>
    </div>
</div>

<p><strong>Or</strong> build a <strong>new</strong> passenger order</p>

<a routerLink="/newrequestinvite/{{postid}}">
  <button type="button" class="btn btn-primary btn-lg">New Passenger Order</button>
</a>

<br><br>

<a routerLink="">
  <button type="button" class="btn btn-primary btn-lg">Back</button>
</a>