<!--
<alert></alert>
<router-outlet></router-outlet>
-->


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #f0b07b;">
    <a class="navbar-brand" href="http://web.engr.oregonstate.edu/~hezhi/beaverrider">BeaverRider</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usercenter">MyOrder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/newpost">NewPost</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/newrequest">NewRequest</a>
        </li>
      </ul>

      
      <div class="nav-item dropdown">
        <a *ngIf="currentUser" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{currentUser.firstname}}  {{currentUser.lastname}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/profile']">Edit Profile</a>
          <a class="dropdown-item" routerLink="">Action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="userLogout()">Log Out</a>
        </div>
    </div>
    </div>
</nav>



<div class="jumbotron">
    <div class="container">

            <alert></alert>
            <router-outlet></router-outlet>

    </div>
</div>
