<p>
  post-detail works!
</p>


<div *ngIf='postDetail'>
    {{postDetail.post_orderid}}
    {{postDetail.post_userid}}
    {{postDetail.departure_location}}
    {{postDetail.destination_location}}
    {{postDetail.departure_time}}
    {{postDetail.post_time}}
    {{postDetail.remarks}}
    {{postDetail.available_seats}}
    {{postDetail.available}}
    {{postDetail.finished}}
    {{postDetail.waitlist}}
    {{postDetail.acceptlist}}
</div>




<br><br>

<button type="button" class="btn btn-primary" routerLink="">Back</button>

<br><br>

<button  *ngIf='postDetail' type="button" class="btn btn-primary" routerLink="/updatepost/{{postDetail.post_orderid}}">Update</button>

<br><br>

<button  *ngIf='postDetail' type="button" class="btn btn-primary" (click)="postDelete()">delete</button>
