<p>
  post-detail works ---------
</p>


<div *ngIf='postDetail'>
    <p>{{postDetail.post_orderid}}</p>
    <p><a routerLink="/userpubilcprofile/{{postDetail.post_userid}}">{{postDetail.post_userid}}</a></p>
    <p>{{postDetail.departure_location}}</p>
    <p>{{postDetail.departure_city}}</p>
    <p>{{postDetail.departure_state}}</p>
    <p>{{postDetail.destination_city}}</p>
    <p>{{postDetail.destination_state}}</p>
    <p>{{postDetail.destination_location}}</p>
    <p>{{postDetail.departure_time}}</p>
    <p>{{postDetail.post_time}}</p>
    <p>{{postDetail.remarks}}</p>
    <p>{{postDetail.available_seats}}</p>
    <p>{{postDetail.available}}</p>
    <p>{{postDetail.finished}}</p>
    <p>{{postDetail.waitlist}}</p>
    <p>{{postDetail.acceptlist}}</p>
</div>




<br><br>

<button type="button" class="btn btn-primary" routerLink="">Back</button>

<br><br>

<div *ngIf='postDetail'>
<div *ngIf="currentUserId == postDetail.post_userid">


<button type="button" class="btn btn-primary" routerLink="/updatepost/{{postDetail.post_orderid}}">Update</button>

<br><br>

<button type="button" class="btn btn-primary" (click)="postDelete()">Delete</button>

</div>
</div>