
  <div *ngIf='postDetail' class="text-center">
    <div class="card text-center">
      <div class="card-header text-muted">
          <p>Order ID:  {{postDetail.post_orderid}}</p>
      </div>
  
      <div class="card-body">
          <div class="col-center-block text-center">
            <dl class="row text-left">
              <dt class="col-sm-3">Poster</dt>
              <dd class="col-sm-9"><p><a routerLink="/userpubilcprofile/{{postDetail.post_userid}}">{{postDetail.post_userid}}</a></p></dd>
  
              <dt class="col-sm-3">From</dt>
              <dd class="col-sm-9"> <p>{{postDetail.departure_location}}, {{postDetail.departure_city}}, {{postDetail.departure_state}}</p></dd>
  
              <dt class="col-sm-3">To</dt>
              <dd class="col-sm-9"> <p>{{postDetail.destination_location}}, {{postDetail.destination_city}}, {{postDetail.destination_state}}</p></dd>
  
              <dt class="col-sm-3">Departure Time</dt>
              <dd class="col-sm-9"> <p>{{postDetail.departure_time}}</p></dd>
  
              <dt class="col-sm-3">Available Seats</dt>
              <dd class="col-sm-9"> <p>{{postDetail.available_seats}}</p></dd>
  
              <dt class="col-sm-3">Remarks</dt>
              <dd class="col-sm-9"> <p>{{postDetail.remarks}}</p></dd>
            </dl>
          </div> 
          <div class="button-block">
            <div *ngIf="currentUserId == postDetail.post_userid" class="text-center row">
              <div class="text-center col">
                <button type="button" class="btn btn-primary" routerLink="/updatepost/{{postDetail.post_orderid}}">Update</button>
              </div>
              <div class="text-center col">
                <button type="button" class="btn btn-primary" (click)="postDelete()">Delete</button>
              </div>
            </div> 
          </div> 
            <div *ngIf="currentUserId != postDetail.post_userid" class="text-center">
              <button type="button" class="btn btn-primary">Join</button>
            </div>
    </div>
  
      <div class="card-footer text-muted">
          <p>Post Time: {{postDetail.post_time}}</p>
          <button type="button" class="btn btn-primary" routerLink="">Back</button>
      </div>
  

<!--
  <div *ngIf='postDetail'>
    <p>{{postDetail.post_orderid}}</p>
    <p><a routerLink="/userpubilcprofile/{{postDetail.post_userid}}">{{postDetail.post_userid}}</a></p>
    <p>{{postDetail.departure_location}}</p>
    <p>{{postDetail.departure_city}}</p>
    <p>{{postDetail.departure_state}}</p>
    <p>{{postDetail.destination_city}}</p>
    <p>{{postDetail.destination_state}}</p>
    <p>{{postDetail.destination_location}}</p>
    <p>{{postDetail.departure_time}}</p>
    <p>{{postDetail.post_time}}</p>
    <p>{{postDetail.remarks}}</p>
    <p>{{postDetail.available_seats}}</p>
    <p>{{postDetail.available}}</p>
    <p>{{postDetail.finished}}</p>
    <p>{{postDetail.waitlist}}</p>
    <p>{{postDetail.acceptlist}}</p>
</div>




<br><br>

<button type="button" class="btn btn-primary" routerLink="">Back</button>

<br><br>

<div *ngIf='postDetail'>
<div *ngIf="currentUserId == postDetail.post_userid">


<button type="button" class="btn btn-primary" routerLink="/updatepost/{{postDetail.post_orderid}}">Update</button>

<br><br>

<button type="button" class="btn btn-primary" (click)="postDelete()">Delete</button>

</div>
</div>
-->


<div *ngIf='postDetail'>
<div *ngIf="currentUserId == postDetail.post_userid">
  <app-waitlist-for-post></app-waitlist-for-post>
</div>
</div>