
<nav class="nav nav-pills nav-justified">
        <a class="nav-link {{post_active}}" (click)="switch_post()">Post</a>
        <a class="nav-link {{request_active}}" (click)="switch_request()">Request</a>
</nav>

<br><br>

<div *ngIf='switch_flag == 1'>

    <app-post-list></app-post-list>


</div>

<div *ngIf='switch_flag == 0'>

<h1>Home Page</h1>
<p>You're logged in with beaver rider</p>

<p *ngIf="currentUser">{{currentUser.userId}}  {{currentUser.email}}  {{currentUser.firstname}}  {{currentUser.lastname}}</p>
<a (click)="userLogout()" class="text-primary">logout</a>


<br><br>

<a [routerLink]="['/profile']">
    <button type="button" class="btn btn-primary btn-lg">Profile</button>
</a>


</div>



<br><br>

<a [routerLink]="['/newpost']">
    <button type="button" class="btn btn-primary btn-lg">New Post</button>
</a>