<p>
  request-detail works!
</p>


<div *ngIf='requestDetail'>
    <p>{{requestDetail.request_orderid}}</p>
    <p><a routerLink="/userpubilcprofile/{{requestDetail.request_userid}}">{{requestDetail.request_userid}}</a></p>
    <p>{{requestDetail.departure_location}}</p>
    <p>{{requestDetail.departure_city}}</p>
    <p>{{requestDetail.departure_state}}</p>
    <p>{{requestDetail.destination_city}}</p>
    <p>{{requestDetail.destination_state}}</p>
    <p>{{requestDetail.destination_location}}</p>
    <p>{{requestDetail.departure_time}}</p>
    <p>{{requestDetail.post_time}}</p>
    <p>{{requestDetail.remarks}}</p>
    <p>{{requestDetail.people_number}}</p>
    <p>{{requestDetail.available}}</p>
    <p>{{requestDetail.finished}}</p>
    <p>{{requestDetail.waitlist}}</p>
    <p>{{requestDetail.acceptlist}}</p>
</div>

<br><br>

<button type="button" class="btn btn-primary" routerLink="">Back</button>



<div *ngIf='requestDetail'>
<div *ngIf="currentUserId == requestDetail.request_userid">
<br><br>

<button type="button" class="btn btn-primary" routerLink="/updaterequest/{{requestDetail.request_orderid}}">Update</button>

<br><br>

<button type="button" class="btn btn-primary" (click)="requestDelete()">Delete</button>

</div>
</div>



<div *ngIf='requestDetail'>
    <div *ngIf="currentUserId == requestDetail.request_userid">
      <app-waitlist-for-request></app-waitlist-for-request>
    </div>
</div>
