
<div class="row" *ngIf='postList != []'>
  <div *ngFor="let post of postList" class="col" style="height: 18rem;">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{post.departure_location}} to {{post.destination_location}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{post.post_time}} created</h6>
          <p class="card-text">From {{post.departure_location}} to {{post.destination_location}} in {{departure_time}}, post by {{request_userid}}, and it still have {{available_seats}} seats available.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
  </div>
</div>


